.SignIn {
  background: rgb(229,229,229);
  background: linear-gradient(315deg, rgba(229,229,229,1) 0%, rgba(239,239,239,1) 50%, rgba(249,249,249,1) 100%);
  width: 300px;
  height: 150px;
  margin: 200px auto 0 auto;
  border-radius: 30px;
  box-shadow: 0 1px 3px #333;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SignIn:hover {
  transform: scale(1.05);
}

.SignIn u {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.SignIn button {
  height: 50px;
  font-size: 16px;
  transition: 0.3s;
}

.SignIn button:hover {
  transform: scale(1.05);
}
