.App {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.App .background-img {
  z-index: -10;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App .change-background {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: bold;
  font-size: 48px;
  width: 50px;
  padding: 0;
  overflow: hidden;
  border-radius: 25px;
}

.App .change-background p {
  margin: -10px 0 -1px 0;
}
