.MakeCountdown {
  background-color: #999;
  width: 300px;
  padding: 10px;
  height: 100%;
  position: fixed;
}

.MakeCountdown p {
  margin: 0 0 5px 0;
  text-align: center;
}

.MakeCountdown form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MakeCountdown form button {
  margin: 5px 0 0 0;
}
